{% extends 'base.html' %}

{% block title %}
web chat
{% endblock %}

{% block head %}
    <link href="{{ url('static', filename='chat.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid">
    <!-- <div class="left"> -->
      <div class="menu">
        <section class="buttons">
          <a href="{{ app.router['logout'].url_for() }}"><img src="{{ url('static', filename='red.png') }}" alt="red"></a>
          <a href="{{ app.router['chat'].url_for() }}"><img src="{{ url('static', filename='yellow.png') }}" alt="yellow"></a>
        </section>  
        <h1>@{{user_name}}:{{conversation}}</h1>
      </div>
      <div class="rooms_list">
          <ul>
          {% for user in user_list %}
          <li><a href="{{ app.router['private_chat_to'].url_for(conversation=user)}}">{{ user }}</a></li>
          {% endfor %}
          </ul>
      </div>

  <div class="chat">
    <div id="message-container"></div>
  </div>
  <div class="send-container">
    <form id="send-container">
      <div class="t"><input type="text" id="message-input"></div>
      <button type="submit" id="send-button">Send</button>
  </div>
</div>
{% endblock %}

{% block footer %}
    <script type="text/javascript">var user_name = "{{user_name}}";</script>
    <script type="text/javascript">var WS_URL = "{{ app.router['private_ws'].url_for(conversation=conversation) }}";</script>
    <script src="{{ url('static', filename='private_chat.js') }}"></script>
{% endblock %}